.main-inicial {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em 0 0 0;
  margin: 0 1em;
}

.inicial-left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0 5em 8em;
  margin: 0;
}

.inicial-left-column h1{
  margin: 0 0 0.6em;
} 

.inicial-right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 4em 2em 2em;
}

.main-image {
  height: 28em;
  justify-content: center;
  margin: 0 3em 0 0;
}

@media only screen and (max-width: 700px) {
  .main-inicial {
    flex-direction: column;
    padding: 6em 4em 0 0;
    margin: 0em 0em;
  }

  .main-image {
    height: 0em;
  }

  input {
    width: 20em;
  }

  .left-column {
    padding: 0;
  }
}
