
#mainRecuperar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0 0 0;
    margin: 0 5em;
}

#mainRecuperar form {
    display: contents;
}

#mainRecuperar .left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainRecuperar .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#mainRecuperar input {
    margin: 0.4em;
    padding: 0.5em 1em;
    height: 2em;
    width: 25em;
    border: 1px solid #000;
    border-radius: 0.6em;
    font-size: .95em;
}

#mainRecuperar h1 {
    margin: 0;
    padding: 0em 4em;
    text-align: center;
    font-size: 1.2em;
}

.mainRecuperar-image {
    height: 28em;
    margin: 3em 0 0 0;
}

@media only screen and (max-width: 700px) {
    #mainRecuperar {
        flex-direction: column;
        padding: 8em;
        margin: 0em 0em;
    }

    .mainRecuperar-image {
        height: 0em;
    }

    #mainRecuperar input {
        width: 20em;
    }

    #mainRecuperar h1 {
        padding: 0;
    }
}