.button {
  margin: 0.3em;
  height: 2.3em;
  width: 19em;
  font-size: 1.1em;
  border: none;
  border-radius: 0.6em;
  background-color: black;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #03a65a;
}

.button > a {
  color: white;
}
