.header-arrow-back {
  width: 100%;
    height: 1.6em;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-arrow-back img {
    height: 2.5em;
    filter: invert(1);
}

.header-options img:hover {
    transform: scale(1.1)
}

.main-perfil {
  padding: 4em;
  display: flex;
}

.user-info {
  padding: 2em 4em;
  display: inline-table;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 1em;
  height: 6em;
  margin: 2em;
  text-align: center;
}

.user-info img {
  border-radius: 50%;
  background-color: green;
  width: 10em;
}

h2 {
  margin: 1.5em 0 0.2em 0;
}

.user-name {
  margin: 0;
}

.user-email {
  border: none;
  padding: 0;
}

.stats-text {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 1em;
  padding: 0.6em;
}

.stats-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.awards-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.awards-info img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-radius: 1.5em;
  width: 8em;
  height: 8em;
  padding: 0.5em;
}

@media only screen and (max-width: 700px) {
  header img {
    height: 1.5em;
  }

  .stats-info {
    margin: 0;
  }

  .stats-info p {
    padding: 1em;
    width: 18em;
  }

  .awards-info {
    gap: 1.3em;
  }
}

header.baixa-visao {
  font-size: 2em;
}

.user-info img.daltonico {
  background-color: var(--true-daltonico);
}

h2.baixa-visao {
  font-size: var(--texto-baixa-visao);
}

p.baixa-visao {
  font-size: 2em;
}

main.dark-mode {
  background-color: #000;
}

.user-info.dark-mode {
  border: 1px solid white;
  background-color: #333;
}
