:root {
    --false: #BF3F3F;
    --true: #03A65A;
    --true-daltonico: #0000FF;
    --texto-baixa-visao: 1.8em;
}

.question-title {
    margin: 0;
}

.quiz-header {
    width: 100%;
    height: 1.6em;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header img {
    height: 2.5em;
    filter: invert(1);
}

.header-options img:hover {
    transform: scale(1.1)
}

.quiz-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 0;
    background-color: #FAFAFA;
}

.area-pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7em;
    width: em;
}

.question-block {
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 50%;
    font-size: 1.8em;
}

.answers-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.answers-block input[type="radio"] {
    display: none;
}

.answers-block label {
    margin: 0.5em 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid #000;
    border-radius: 0.9em;
}

.answers-block label:hover {
    cursor: pointer;
    background-color: #ddd;
    border: 2px solid #000;
}

.resposta-item:checked+label {
    background-color: #03A65A;
    font-weight: bold;
    border: none;
}

.botoes {
    width: 62.5%;
    text-align: center;
}

button {
    margin: 0.3em 1% 0.3em 0;
    height: 2.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.6em;
    background-color: black;
    color: white;
}

#button1 {
    width: 48%;
    margin: 0.3em 1% 0.3em 0;
}

#button2 {
    width: 48%;
    margin: 0.3em 0 0.3em 1%;
}

button:hover {
    cursor: pointer;
    background-color: #03A65A;
}

@media only screen and (max-width: 700px) {
    .area-questao {
        font-size: 1.5em;
        width: 75%;
    }

    .resposta {
        width: 75%;
    }

    .botoes {
        width: 79%;
    }

    header img {
        height: 1.5em;
    }
}

h2.baixa-visao {
    font-size: var(--texto-baixa-visao);
}

header img.baixa-visao {
    height: 3em;
}

.question-block.baixa-visao {
    padding: 0.5em;
    width: 70%;
    font-size: var(--texto-baixa-visao);
}

.answers-block.baixa-visao {
    width: 60%;
    font-size: var(--texto-baixa-visao);
}

.resposta-item:checked+label.baixa-visao {
    background-color: var(--true-daltonico);
}

button:hover.daltonico {
    background-color: var(--true-daltonico);
}

#button2.baixa-visao {
    width: 60%;
    font-size: var(--texto-baixa-visao);
}