.header-home {
  height: 3.4em;
  padding: 0.2em 1em;
  font-size: 1.45em;
  font-family: 'KARASHA', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home h3 {
  font-size: 1em;
  font-family: 'KARASHA';
  cursor: pointer;
  color: white;
}

.header-home img {
  height: 1.4em;
}

.header-home-options {
  display: flex;
  gap: 2rem;
  filter: invert(1);
}

.modo-escuro {
  cursor: pointer;
}

.header-home-options img:hover {
  transform: scale(1.1);
}

body.dark-mode .header-home {
  border-bottom: 0.08em;
  border-style: none none solid none;
  border-color: #656c76;
  background-color: #010409;
}

body.baixa-visao .header-home {
  font-size: 2em;
}

body.baixa-visao .header-home img {
  height: 1.5em;
}
