.header-home {
  width: 100%;
  height: 3em;
  padding: 0.2em 1em;
  font-size: 1.45em;
  font-family: "KARASHA", sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home h3 {
  font-size: 1.em;
  font-family: "KARASHA";
  cursor: pointer;
  color: white;
}

.header-home img {
  height: 1.4em;
}

.header-home-options {
  display: flex;
  gap: 2rem;
  filter: invert(1);
  padding: 2em;
}

.header-home-options img:hover {
  transform: scale(1.1);
}
