* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-primary);
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.layout-app-page {
  padding: 32px;
  background-color: var(--color-background-primary);
  min-height: 100vh;
  font-family: var(--font-family-primary);
}

@media (min-width: 769px) {
  .layout-app-page {
    padding-left: 60px;
  }
}

.layout-auth-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.layout-auth-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

:root {
  --color-background-primary: #303841;
  --color-background-secondary: #010101;
  --color-background-component: #E6E9EC;
  --color-background-component-secondary: #FFFFFF;
  --color-background-component-tertiary: #E0E0E0;
  
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #000000;
  
  --color-action-primary: #52D845;
  --color-action-primary-hover: #4CAF50;
  --color-action-primary-bg: #2A2A2A;
  --color-action-primary-bg-hover: #232323;
  --color-action-primary-colorblind: #0000FF;
  --color-action-primary-colorblind-hover: #0000CC;
  
  --color-action-secondary: #E2C32F;
  --color-action-secondary-hover: #D8BD33;
  --color-action-secondary-colorblind: #F4A300;
  --color-action-secondary-colorblind-hover: #CC8500;
  
  --color-action-tertiary: #C83030;
  --color-action-tertiary-hover: #B12828;
  --color-action-tertiary-colorblind: #B00020;
  --color-action-tertiary-colorblind-hover: #8B0015;
  
  --font-family-primary: 'Quicksand', sans-serif;
  
  --font-size-title: 30px;
  --font-size-titlelow-vision: 36px;
  --font-size-text: 17px;
  --font-size-text-low-vision: 22px;
}