.body-subtemas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .body-subtemas {
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 16px;
  }
}

body.dark-mode .quiz {
  color: white;
  background-color: #3d444d;
}

body.baixa-visao h1 {
  font-size: 2.8em;
}
