.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px;
  margin-left: 150px;
  width: calc(100vw - 150px);
  font-family: var(--font-family-primary);
}


body.baixa-visao .main-home {
  margin-left: 180px;
  width: calc(100vw - 180px);
}

@media only screen and (max-width: 768px) {
  .main-home {
    flex-direction: column;
    margin-left: 60px;
    width: calc(100vw - 60px);
    padding: 16px;
  }

  body.baixa-visao .main-home {
    margin-left: 70px;
    width: calc(100vw - 70px);
  }
}

body.dark-mode {
  background-color: #0d1117;
  color: white;
}
