.button1 {
  margin: 0.3em;
  height: 2.3em;
  width: 19em;
  font-size: 1em;
  border: none;
  border-radius: 0.6em;
  background-color: black;
  color: white;
}

.button1:hover {
  cursor: pointer;
  background-color: #03a65a;
}

.button1 > a {
  color: white;
}

body.baixa-visao .button1 {
  font-size: 1.6em;
}
